body {
  font-family: sans-serif;
  width: auto;
  height: 500px;
  /* background: pink; */
}
.wrapper {
  /* background: plum; */
  margin: auto;
  width: 100%;
  height: 100%;
}
.background {
  /* background: blueviolet; */
}
.button-container {
  /* background: bisque; */
}
#tomato {
  background: tomato;
}
#dodgerblue {
  background: dodgerblue;
}
#hotpink {
  background: hotpink;
}
#yellowgreen {
  background: yellowgreen;
}
#chocolate {
  background: chocolate;
}
#reset {
  background: black;
}
button {
  color: white;
}
