* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  min-height: 100vh;
} */
.parent {
  height: 500px;
  background: bisque;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
  /* align-content: center; */
}
.child {
  border: 1px solid;
  width: 100px;
  height: 100px;
}
