* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  min-height: 100vh;
} */
.parent {
  background: bisque;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.child1 {
  border: 1px solid;
  width: 100px;
  height: 100px;
}

.child2 {
  border: 1px solid;
  width: 100px;
  height: 100px;
}
