body {
  margin: 0;
}
.wrapper {
  width: 225px;
  height: 350px;
  margin: 100px auto;
  background: black;
  padding: 30px 10px 10px 10px;
  font-weight: bold;
  border-radius: 1em;
}
.wrapper div {
  margin: 0;
  padding: 0;
}
.window {
  height: 60px;
  text-align: right;
  font-size: 40px;
  color: white;
}
.window span {
  padding-right: 10px;
  padding-bottom: 15px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.top {
  background: darkgray;
}
.right {
  background: orange;
  color: white;
}
.number,
.back-space {
  background: gray;
  color: white;
}
.button {
  border-radius: 1em;
  text-align: center;
  height: 54px;
}
.button-text {
  display: inline-block;
  padding-top: 15px;
}
