body {
  margin: 0;
}
.wrapper {
  width: 225px;
  height: 345px;
  margin: 100px auto;
  background: black;
  padding: 40px 10px 10px 10px;
  font-weight: bold;
  border-radius: 1em;
}
.wrapper div {
  height: 50px;
  margin: 0;
  padding: 0;
}
.window {
  text-align: right;
  font-size: 40px;
  color: white;
  /* margin-bottom: 10px; <-왜 적용이 안될까요?? */
}
.window span {
  padding-right: 15px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.grid-container div {
  padding-top: 5px;
}
.operator-top {
  background: darkgray;
}
.operator-right {
  background: orange;
  color: white;
}
.number {
  background: gray;
  color: white;
}
.button {
  border-radius: 1em;
  text-align: center;
  /* vertical-align: middle; <-왜 적용이 안될까요?? */
}
